[workspace]
members = ["proc_macros"]

[package]
name = "mchprs"
version = "0.3.0"
authors = ["StackDoubleFlow <ojaslandge@gmail.com>"]
edition = "2018"
description = "A multithreaded minecraft server built for redstone."
readme = "README.md"
license = "MIT"
keywords = ["minecraft", "server", "redstone"]
repository = "https://github.com/MCHPR/MCHPRS"
homepage = "https://github.com/MCHPR/MCHPRS"

[profile.release]
debug = true

include = [
    "**/*.rs",
    "Cargo.toml",
]

[badges]
travis-ci = { repository = "StackDoubleFlow/MCHPRS" }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "bitbuffer"
harness = false

[dependencies]
mchprs_proc_macros = { path = "./proc_macros" }
toml = "0.5"
flate2 = "1"
byteorder = "1.4"
# hematite-nbt = "0.5"
hematite-nbt = { git = "https://github.com/StackDoubleFlow/hematite_nbt", branch = "fix_array_val_ser" }
bitflags = "1.2"
serde = "1"
serde_json = "1.0"
md5 = "0.7"
bus = "2.2"
bincode = "1.3"
ctrlc = { version = "3.1", features = ["termination"] }
log = "0.4"
fern = { version = "0.6", features = ["colored"] }
chrono = "0.4"
rand = "0.8"
regex = "1.4"
backtrace = "0.3"
rusqlite = { version="0.25", features=["bundled"] }
anyhow = "1.0"
rayon = "1.5"
cranelift = { version = "0.77", optional = true }
cranelift-jit  = { version = "0.77", optional = true }
cranelift-module  = { version = "0.77", optional = true }
toml_edit = "0.3"
mysql = "21"
tokio = { version = "1", features = ["rt-multi-thread"] }
reqwest = { version = "0.11", features = ["json"] }
itertools = "0.10"
impls = "1"

[features]
jit_cranelift = ["cranelift", "cranelift-jit", "cranelift-module"]
