name: Docker

on:
  push:
    branches: [ master ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout 
        uses: actions/checkout@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push latest
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/mchprs:latest
      -
        name: Build and push plot-scale-5
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile-plot-scale-5
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/mchprs:plot-scale-5